/*
SkyDiagram.css
wgbh-skydiagram
astro.unl.edu
2019-06-01
*/

/*
.wgbh-asset1-no-user-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/


.wgbh-skydiagram-root {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	position: relative;
	padding: 0;
	margin: 0;

	overflow: hidden;

	background-color: black;
	box-sizing: border-box;
	
	border: none;
}


.wgbh-skydiagram-svg {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
}


/*
.wgbh-skydiagram-absolute {
	position: relative;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}
*/


