/*
Asset1.css
wgbh-asset1
astro.unl.edu
2019-08-13
*/


/* Note: media queries are at bottom. */


.wgbh-asset1-root {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	overflow: hidden;

	padding: 0;
	margin: 0;
	border: 0;
	background-color: black;

	/* Additional properties set in media queries. */
}


/*
**	Inner Container
*/

.wgbh-asset1-inner {
	position: relative;
	margin: 0 auto;
	padding: 0;
	border: 0;

	width: 100%;
	height: 100%;

	/* flex-direction set in media queries. */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


/*
** Top Level Containers
*/

.wgbh-asset1-panels {
	overflow: hidden;
}

.wgbh-asset1-diagram-container {
	overflow: hidden;
	position: relative;
}


/*
**	Phase Readout
**	Displayed over the sky diagram, in top right corner.
*/

.wgbh-asset1-phase-readout {
	position: absolute;
	top: 0;
	right: 0;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 1.6rem;
	padding: 0.4rem;
}
	
.wgbh-asset1-phase-readout span {
	white-space: nowrap;
	color: white;
}


/*
**	Info Panel
*/

.wgbh-asset1-infopanel {
	width: 100%;
	max-width: 45rem;
	text-align: center;
	margin: 0 auto;
	padding: 0.8rem 0;
}

.wgbh-asset1-infopanel div {
	display: inline-block;
	width: 45%;
	white-space: nowrap;
	font-family: sans-serif;
	font-weight: 800;
	font-size: 2rem;
	color: white;
}


/*
**	Specific Buttons
*/

.wgbh-asset1-play-pause {
	margin: 1rem 0.8rem !important;
	font-size: 2.2rem !important;
	padding: 0.2rem !important;
	height: 4rem !important;
	width: 13rem !important;
  background-color: #ffe61e !important;
	box-shadow: 0 4px 0 0 #ffba09 !important;
}

/* DO NOT CHANGE the skip button's width or left/right margins without first
	reading the Control Panel Layout comments. Changing these values will require
	multiple changes elsewhere. */
.wgbh-asset1-skip {
	margin: 0.6rem 0.4rem !important;
	font-size: 1.4rem !important;
	padding: 0.2rem !important;
	height: 2.2rem !important;
	width: 9rem !important;
	color: white !important;
  background-color: #484848 !important;
	box-shadow: 0 4px 0 0 #181818 !important;
	border: 1px solid white !important;
}

.wgbh-asset1-reset {
	background-color: transparent !important;
	color: white !important;

	font-family: sans-serif !important;
	font-weight: 500 !important;

	text-decoration: underline !important;
	
	margin: 0.6rem 1.5rem 9px 1.5rem !important;
	font-size: 1.2rem !important;
	padding: 0.1rem !important;
	height: 1.5rem !important;
	width: 8rem !important;
}

.wgbh-asset1-reset:not([disabled]):active {
	transform: none !important;
}


/*

=== General Layout ===

There are two general layouts: stacked and sideways. Generally speaking, stacked is for desktop
	browsers or portrait on mobile, and sideways is for landscape on mobile. (Viewport width and
	aspect ratio are used to decide between them, not orientation.)

Stacked Layout:
	+---------------+
	|               |
	|  Sky Diagram  |
	|               |
	+---------------+
	|  Info Panel   |
	+---------------+
	| Control Panel |
	|               |
	+---------------+

Sideways Layout:
	+-------------+---------------+
	|             |  Info Panel   |
	|     Sky     +---------------+
	|   Diagram   | Control Panel |
	|             |               |
	+-------------+---------------+

In the Sideways Layout the Info and Control Panels are always 20rem wide. In both layouts the
	component code determines the dimensions of the Sky Diagram.


=== Control Panel Layout ===

The control panel contains the buttons and options.

The minimum control panel width is determined by the skip buttons:
		<minimum control panel width> = 2*<skip width> + 4*<skip left/right margin>
So 2*9rem + 4*0.4rem = 19.6rem, which rounds up to 20rem, which is 320px 
	at 16px per rem (convenient for iPhones).

Containers:
	controlpanel:
		-	primary:
			+ top: play/pause buttons
			+ left: decrement skip buttons
			+ right: increment skip buttons
		- bottom: go to day 1 button

There are two distinct control panel layouts: narrow and wide. Which is selected depends
	on two factors: the viewport width and the aspect ratio.

Narrow Control Panel - for narrow viewports in Stacked Layout, or any viewport in Sideways Layout.
Wide Control Panel - for wide viewports in Stacked Layout.

*/

.wgbh-asset1-controlpanel {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.wgbh-asset1-controlpanel-primary {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.wgbh-asset1-controlpanel-top {
	display: block;
	margin: 0; 
	padding: 0;
}

.wgbh-asset1-controlpanel-left {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

.wgbh-asset1-controlpanel-right {
	direction: rtl;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

.wgbh-asset1-controlpanel-bottom {
	width: 100%;
	margin: 0 0 1rem 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wgbh-asset1-controlpanel-bottomest {
	width: 100%;
	margin: 0;
	padding: 0.3rem 0.3rem;
}

.wgbh-asset1-play-pause {
	display: inline-block;
}

.wgbh-asset1-skip {
	display: inline-block;
}



/* Debugging */
/*
.wgbh-asset1-controlpanel-top {
	background-color: rgba(0, 255, 0, 0.3);
}
.wgbh-asset1-controlpanel-left {
	background-color: rgba(255, 0, 0, 0.3);
}
.wgbh-asset1-controlpanel-right {
	background-color: rgba(0, 0, 255, 0.3);
}
*/


/*
DO NOT CHANGE the aspect ratio threshold (which appears in multiple places) without also
	changing the value in the window.matchMedia call in LunarPhasesAsset1.js.
*/

@media (min-aspect-ratio: 177/100) {

	/*
		Sideways Layout
	*/

	.wgbh-asset1-inner {
		min-width: 35rem;
		min-height: 22rem;
		flex-direction: row;
	}

	.wgbh-asset1-panels {
		width: 20rem;
	}
}


@media (max-aspect-ratio: 177/100) {

	/*
		Stacked Layout
	*/
	
	.wgbh-asset1-inner {
		min-width: 20rem;
		min-height: 31rem;
		flex-direction: column;
	}

	.wgbh-asset1-panels {
		width: 100%;
	}
}


/*
When a window is being drag-resized to be smaller it will think the content is too large, but later
the JavaScript will resize the diagram to make everything fit. Thus the scrollbars need
to be suppressed unless the viewport is actually too small.
*/

@media (min-aspect-ratio: 177/100) and (max-width: 35rem), (min-aspect-ratio: 177/100) and (max-height: 22rem) {
	/* Sideways Layout -- Too Small Viewport */
	.wgbh-asset1-root {
		overflow: auto;
	}
}

@media (max-aspect-ratio: 177/100) and (max-width: 20rem), (max-aspect-ratio: 177/100) and (max-height: 31rem) {
	/* Stacked Layout - Too Small Viewport */
	.wgbh-asset1-root {
		overflow: auto;
	}
}


@media (max-width: 38rem), (width: 38rem), (min-aspect-ratio: 177/100) {
	
	/*
		Narrow Control Panel

		Three levels:
			*-top (play/pause buttons)
			*-left (decrement skip buttons), *-right (increment skip buttons)
			*-bottom (go to day 1 button)
	*/

	.wgbh-asset1-controlpanel {
		min-width: 20rem;
	}
	
	.wgbh-asset1-controlpanel-primary {
		display: block;
	}
	
	.wgbh-asset1-controlpanel-top {
		width: 100%;	
	}
	
	.wgbh-asset1-controlpanel-left {
		width: 50%;
	}
	
	.wgbh-asset1-controlpanel-right {
		width: 50%;
	}

	.wgbh-asset1-controlpanel-bottom {
		flex-direction: column;
	}

	/* Debugging */
/*
	.wgbh-asset1-controlpanel {
		background-color: rgba(255, 255, 128, 0.5);
	}
*/
}


@media (min-width: 38rem) and (max-aspect-ratio: 177/100) {

	/*
		Wide Control Panel

		Two levels:
			*-left (decrement skip buttons), *-top (play/pause buttons), *-right (increment skip buttons)
			*-bottom (go to day 1 button)
	*/

	.wgbh-asset1-controlpanel {
		max-width: 62rem;
	}
	
	.wgbh-asset1-controlpanel-primary {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	.wgbh-asset1-controlpanel-left {
		flex: 1 1 30%;
		order: 1;
	}
	
	.wgbh-asset1-controlpanel-top {
		flex: 1 1 20%;
		order: 2;
	}
	
	.wgbh-asset1-controlpanel-right {
		flex: 1 1 30%;
		order: 3;
	}

	.wgbh-asset1-controlpanel-bottom {
		flex-direction: row;
	}

	/* Debugging */
/*
	.wgbh-asset1-controlpanel {
		background-color: rgba(255, 255, 255, 0.3);
	}
*/
}


