/*
Asset1.css
wgbh-asset1
astro.unl.edu
2019-06-23
*/


/* Note: media queries are at bottom. */


.wgbh-asset1-root {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
	
	background-color: black;
	border: none;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: center;
	
	/* Additional properties set in media queries. */
}


/*
**	Info Panel
*/

.wgbh-asset1-infopanel {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0.8rem 0;
}

.wgbh-asset1-infopanel div {
	display: inline-block;
	width: 50%;
	white-space: nowrap;
	font-family: "Muli", sans-serif;
	font-weight: 800;
	font-size: 2rem;
	color: white;
}


/*
**	Button
*/

.wgbh-asset1-button {
	font-family: "Muli", sans-serif;
	font-weight: 600;
	display: block;
	border: none;
	color: black;
	cursor: pointer;
  border-radius: 14px;
  background-color: #ffe61e;
	box-shadow: 0 4px 0 0 #ffba09;
}

.wgbh-asset1-button div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 1;
}

.wgbh-asset1-button img {
	display: inline-block;
	margin: 0 0.5rem 0 0;
	height: 0.8em;
}
	
.wgbh-asset1-button span {
	padding: 0.1em 0 0 0;
	margin: 0;
}

.wgbh-asset1-button:not([disabled]):active {
	transform: translateY(4px);
	box-shadow: none;
}

.wgbh-asset1-button:disabled {
	opacity: 0.6;
	cursor: default;
}

.wgbh-asset1-button:focus {
	outline: 6px solid white;
	outline-offset: 3px;
	border: none;
}

.wgbh-asset1-button::-moz-focus-inner {
	border: none;
}


/*
**	Specific Buttons
*/

.wgbh-asset1-play-pause {
	margin: 1rem 0.8rem;
	font-size: 2.2rem;
	padding: 0.2rem;
	height: 4rem;
	width: 13rem;
}

/* DO NOT CHANGE the skip button's width or left/right margins without first
	reading the Control Panel Layout comments. Changing these values will require
	multiple changes elsewhere. */
.wgbh-asset1-skip {
	margin: 0.6rem 0.4rem;
	font-size: 1.4rem;
	padding: 0.2rem;
	height: 2.2rem;
	width: 9rem;
}

.wgbh-asset1-reset {
	margin: 0.6rem 0.4rem;
	font-size: 1rem;
	padding: 0.2rem;
	height: 1.7rem;
	width: 9rem;
}


/*

=== General Layout ===

There are two general layouts: stacked and sideways. Generally speaking, stacked is for desktop
	browsers or portrait on mobile, and sideways is for landscape on mobile. (Viewport width and
	aspect ratio are used to decide between them, not orientation.)

Stacked Layout:
	+---------------+
	|               |
	|  Sky Diagram  |
	|               |
	+---------------+
	|  Info Panel   |
	+---------------+
	| Control Panel |
	|               |
	+---------------+

Sideways Layout:
	+-------------+---------------+
	|             |  Info Panel   |
	|     Sky     +---------------+
	|   Diagram   | Control Panel |
	|             |               |
	+-------------+---------------+

In the Sideways Layout the Info and Control Panels are always 20rem wide. In both layouts the
	component code determines the dimensions of the Sky Diagram.


=== Control Panel Layout ===

The control panel contains the buttons and options.

The minimum control panel width is determined by the skip buttons:
		<minimum control panel width> = 2*<skip width> + 4*<skip left/right margin>
So 2*9rem + 4*0.4rem = 19.6rem, which rounds up to 20rem, which is 320px 
	at 16px per rem (convenient for iPhones).

Containers:
	controlpanel:
		-	primary:
			+ top: play/pause buttons
			+ left: decrement skip buttons
			+ right: increment skip buttons
		- bottom: go to day 1 button

There are two distinct control panel layouts: narrow and wide. Which is selected depends
	on two factors: the viewport width and the aspect ratio.

Narrow Control Panel - for narrow viewports in Stacked Layout, or any viewport in Sideways Layout.
Wide Control Panel - for wide viewports in Stacked Layout.

*/

.wgbh-asset1-controlpanel {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.wgbh-asset1-controlpanel-primary {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.wgbh-asset1-controlpanel-top {
	display: block;
	margin: 0; 
	padding: 0;
}

.wgbh-asset1-controlpanel-left {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

.wgbh-asset1-controlpanel-right {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

.wgbh-asset1-controlpanel-bottom {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.wgbh-asset1-play-pause {
	display: inline-block;
}

.wgbh-asset1-skip {
	display: inline-block;
}



/* Debugging TODO: remove */
/*
.wgbh-asset1-controlpanel-top {
	background-color: rgba(0, 255, 0, 0.3);
}
.wgbh-asset1-controlpanel-left {
	background-color: rgba(255, 0, 0, 0.3);
}
.wgbh-asset1-controlpanel-right {
	background-color: rgba(0, 0, 255, 0.3);
}
*/


/*
DO NOT CHANGE the aspect ratio threshold (which appears in multiple places) without also
	changing the value in the window.matchMedia call in Asset1.js.
*/

@media (aspect-ratio: 177/100), (min-aspect-ratio: 177/100) {

	/*
		Sideways Layout
	*/

	.wgbh-asset1-root {
		min-width: 35rem;
		min-height: 20rem;
		flex-direction: row;
	}

	.wgbh-asset1-panels {
		width: 20rem;
	}
}


@media (max-aspect-ratio: 177/100) {

	/*
		Stacked Layout
	*/
	
	.wgbh-asset1-root {
		min-width: 20rem;
		min-height: 30rem;
		flex-direction: column;
	}

	.wgbh-asset1-panels {
		width: 100%;
	}
}


@media (max-width: 38rem), (width: 38rem), (min-aspect-ratio: 177/100), (aspect-ratio: 177/100) {
	
	/*
		Narrow Control Panel

		Three levels:
			*-top (play/pause buttons)
			*-left (decrement skip buttons), *-right (increment skip buttons)
			*-bottom (go to day 1 button)
	*/

	.wgbh-asset1-controlpanel {
		min-width: 20rem;
	}
	
	.wgbh-asset1-controlpanel-primary {
		display: block;
	}
	
	.wgbh-asset1-controlpanel-top {
		width: 100%;	
	}
	
	.wgbh-asset1-controlpanel-left {
		width: 50%;
	}
	
	.wgbh-asset1-controlpanel-right {
		width: 50%;
	}


	/* Debugging TODO: remove */
/*
	.wgbh-asset1-controlpanel {
		background-color: rgba(255, 255, 128, 0.5);
	}
*/
}


@media (min-width: 38rem) and (max-aspect-ratio: 177/100) {

	/*
		Wide Control Panel

		Two levels:
			*-left (decrement skip buttons), *-top (play/pause buttons), *-right (increment skip buttons)
			*-bottom (go to day 1 button)
	*/

	.wgbh-asset1-controlpanel {
		max-width: 62rem;
	}
	
	.wgbh-asset1-controlpanel-primary {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	.wgbh-asset1-controlpanel-left {
		flex: 1 1 30%;
		order: 1;
	}
	
	.wgbh-asset1-controlpanel-top {
		flex: 1 1 20%;
		order: 2;
	}
	
	.wgbh-asset1-controlpanel-right {
		flex: 1 1 30%;
		order: 3;
	}


	/* Debugging TODO: remove */
/*
	.wgbh-asset1-controlpanel {
		background-color: rgba(255, 255, 255, 0.3);
	}
*/
}




